*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.debug{
    border: 1px dashed black;
}*/

/*HEADER*/

header{
    text-align: center;
    padding: 0 15%;
    margin: 20px 0;
}

/*MAIN*/

main{
    padding: 0 15%;
}

/*TESTO*/

.text{
    text-align: center;
    margin: 20px 0;

}

/*CONTAINER*/

.row{
    margin: 0 -10px
}

.col{
    height: 100px;
    width: calc(100% / 3 );
    padding: 10px 10px;
    float: left;
}

.card{
    background-color: #0f0e17;
    height: 100%;
    width: 100%;

}

img{
    height: 100%;
    float: left;
    margin-right: 10px;

}

.clear{
    clear: both;
}

h2{
    color: white;
    margin: auto;
}

span{
    color: white;
    margin: auto;
}

a{
    margin: auto;
}

