*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*.debug{
    border: 1px dashed black;
}*/

header{
    text-align: center;
    padding: 0 15%;
    margin: 20px 0;
}


h1{
    font-family: 'Ferro Rosso', sans-serif;
    color: rgb(207, 1, 1);                               
}

main{
    padding: 0 15%;
}

.text{
    text-align: center;
    margin: 20px 0;

}

.team{
    margin: 0 -10px;
}

.col-1-4{
    max-height: 100px;
    width: calc(100% / 3 - 20px);
    float: left;
    background-color: #0f0e17;
    margin: 20px 10px;
    box-shadow:0 0 8px 5px rgb(198, 206, 209);
}

.col-2-5{
    max-height: 100px;
    width: calc(100% / 3 - 20px);
    background-color: #0f0e17;
    margin: 20px 10px;
    display: inline-block;
    box-shadow:0 0 8px 5px rgb(198, 206, 209);

}

.col-3-6{
    max-height: 100px;
    width: calc(100% / 3 - 20px);
    background-color: #0f0e17;
    margin: 20px 10px;
    float: right;
    box-shadow:0 0 8px 5px rgb(198, 206, 209);


}

img{
    height: 100px;
    float: left;
    margin-right: 10px;
}

.clear{
    clear: both;
}

.style{
    color: white;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 0;
}


